---
import "../styles/global.scss";
import "../styles/pantry.scss";
import TopBar from "../components/pantry/TopBar.astro";
import RecipeGrid from "../components/pantry/RecipeGrid.astro";
import ScrollTopButton from "../components/shared/ScrollTopButton.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyPantry - Dashboard</title>
  </head>
  <body>
    <div class="pantry-layout">
      <main class="content">
        <TopBar />
        <RecipeGrid />
      </main>
    </div>

    <ScrollTopButton />

    <script>
      import "../scripts/pantry/pantryController";
    </script>
  </body>
</html>
