---
import "../styles/global.scss";
import "../styles/popup.scss";
import MainView from "../components/popup/MainView.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyPantry Clip - Action Panel</title>
  </head>
  <body>
    <MainView />
    <script>
      import "../scripts/popup/popupController";
    </script>
  </body>
</html>
