---
import "../styles/global.scss";
import "../styles/recipe.scss";
import RecipeTopBar from "../components/recipe/RecipeTopBar.astro";
import RecipeArticle from "../components/recipe/RecipeArticle.astro";
import SubstitutionModal from "../components/recipe/SubstitutionModal.astro";
import ScrollTopButton from "../components/shared/ScrollTopButton.astro";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>MyPantry - Recipe View</title>
    </head>
    <body>
        <div class="recipe-layout">
            <RecipeTopBar />

            <main class="content" id="recipe-content">
                <RecipeArticle />
            </main>
        </div>

        <SubstitutionModal />
        <ScrollTopButton />

        <script>
            import "../scripts/recipe/recipeController";
            import "../scripts/recipe/substitutionController";
        </script>
    </body>
</html>
